
:root {
    --common-header-height: 50px;
    --common-footer-height: 35px;
    --common-submenu-width: 250px;
}

.common-header {
    top: 0px;
    left: 0px;
    height: var(--common-header-height);
    width: 100%;
    position: absolute;
    background-color: aqua;
}

.commom-body {
    top: var(--common-header-height);
    left: 0px;
    height: calc(100vh - var(--common-header-height) - var(--common-footer-height));
    position: absolute;
    color: #000;
}

.commom-footer {
    bottom: 0px;
    height: var(--common-footer-height);
    left: 0px;
    position: absolute;
    width: 100%;
    background-color: aqua;
}

.menu {
    margin-left: 1px;
    padding: 0px 15px;
    border: 1px solid #000;
    color: #000;
    text-decoration-line: none;
    border-radius: 3px;
    background-color: #fff;
    text-align: "center";
    vertical-align: "center";
}