.subMenuArea {
    border: 1px solid #000;
    width: var(--common-submenu-width);
    height: calc(100vh - var(--common-header-height) - var(--common-footer-height));
    margin-top: 1px;
    margin-left: 1px
}


.mainArea {    
    border: 1px solid #000;
    color: #000;
    width: calc(100vh - var(--common-submenu-width));
    height: calc(100vh - var(--common-header-height) - var(--common-footer-height));
    margin-top: 1px;
    margin-left: 1px
}
